USE [Practica01]
GO
/****** Object:  Table [dbo].[table1]    Script Date: 16/02/2019 01:54:46 p.m. ******/
DROP TABLE [dbo].[table1]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 16/02/2019 01:54:46 p.m. ******/
DROP TABLE [dbo].[Alumnos]
GO
USE [master]
GO
/****** Object:  Database [Practica01]    Script Date: 16/02/2019 01:54:46 p.m. ******/
DROP DATABASE [Practica01]
GO
/****** Object:  Database [Practica01]    Script Date: 16/02/2019 01:54:46 p.m. ******/
CREATE DATABASE [Practica01]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practica01', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Practica01.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Practica01_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Practica01_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practica01].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practica01]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 16/02/2019 01:54:46 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumnos](
	[id] [int] NULL,
	[nombre] [char](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[table1]    Script Date: 16/02/2019 01:54:46 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table1](
	[column1] [int] NULL
) ON [PRIMARY]

GO
USE [master]
GO
